
/* Global Settings */
html * {
    font-family: 'Lora', serif;
}

body {
    background-color:#FFD8B1;
    width: 900px;
    margin: 20px auto 20px auto;
    padding: 0px;
	border: 0px solid #444;
}

h1 {
    text-align:center;
}

h2 {
    margin-left:2cm;
}

ol {
    margin-left:2cm;
}

ul {
    margin-left:2cm;
}

p {
    max-width:1200px;
    margin-left:2cm;
    margin-right:2cm;
}

#cover_photo {
    float:left;
    margin-right:100px;
}

div.wrapper {
    padding:20px;
}


hr {
    padding:20px;
}

#content {
    clear:both;
}
