
/* Global Settings */
html * {
    font-family: 'Lora', serif;
}

body {
    width: 900px;
    margin: 20px auto 20px auto;
    padding: 0px;
	border: 0px solid #444;
}

h1 {
    font-size: 2.5em;
    text-align:left;
}

ol {
    margin-left:2cm;
}

ul {
    margin-left:2cm;
}

#cover_photo {
    float:left;
    margin-right:100px;
}

div.wrapper {
    padding:20px;
}

#content {
    clear:both;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

#email {
    padding:0px;
    margin:0px;
}

a.top:link, a.top:visited {
    display:block;
    width:auto;
    font-weight:bold;
    color: #b6b6b6;
    background:transparent;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}

a.top:hover, a.top:active {
    background-color:#444444;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    width: 100%;
}
li {
    float: left;
    width: 25%;
    text-align:center;
}

hr {
  border: 0px;
  outline: none;
  height: 3px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  padding: 0px;
}

/*hr.top {*/
  /*margin-top: 30px;*/
  /*margin-bottom: 0px;*/
/*}*/

/*hr.bottom {*/
  /*margin: 0px;*/
/*}*/

p {
  font-size: 1.2em;
  text-align:left;
}

#bio {
    width: 50%;
    float: left;
}

#portrait {
    float: right;
}


