
/* Global Settings */
html * {
    font-family: 'Lora', serif;
}

body {
    background-color:#FFD8B1;
    width: 900px;
    margin: 20px auto 20px auto;
    padding: 0px;
	border: 1px solid #333;
}

h1 {
    text-align:center;
}

h2 {
    margin-left:2cm;
}

h3 {
    margin-left:2cm;
}

ol {
    margin-left:2cm;
}

ul {
    margin-left:2cm;
}

p {
    max-width:1200px;
    margin-left:2cm;
    margin-right:2cm;
}
